
@keyframes squareAppear {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0deg);
    }
    20% {
        opacity: 1;
        transform: scale(0.5) rotate(180deg);
    }
    100% {
        opacity: 0.8;
        transform: scale(1) rotate(360deg);
    }
}