@property --a {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: true;
}

@property --hue {
    syntax: "<angle>";
    initial-value: 170deg;
    inherits: false;
}

@keyframes color {
    from {
        --hue: 170deg;
    }
    to {
        --hue: 530deg;
    }
}

.gooey-button-container {
    display: grid;
    place-items: center;
}

.gooey-button {
    --a: 0%;
    --hue: 170deg;
    --x: 50;
    --y: 50;
    --button: hsl(var(--hue), 66%, 66%);
    --edge: 20px;
    --size: 1em;
    --spring-duration: 1.66s;

    background: transparent;
    color: hsla(var(--hue), 80%, 30%, 0.7);
    font-size: 1.4em;
    position: relative;
    padding: calc(var(--size)) calc(var(--size)*1.5);
    animation: color 20s linear infinite both;
    transition:
            --a .5s ease-in-out,
            scale var(--spring-duration) var(--spring-easing);
    scale: 0.92;
    isolation: isolate;
    border: none;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.gooey-button:hover {
    --a: 100%;
    transition-duration: .5s, 1s;
    box-shadow: none;
    opacity: 1;
    scale: 1;
}

.gooey-button:before {
    content: "";
    position: absolute;
    inset: -0.25em -0.25em;
    filter: blur(7px) url(#goo) drop-shadow(0 .25em .5em hsla(0deg, 0%, 0%, 0));
    background-image:
            linear-gradient(0deg,var(--button),var(--button)),
            radial-gradient(
                    40% 70% at calc(var(--x) * 1%) calc(var(--y) * 1%),
                    hsla(var(--hue), 77%, 77%, var(--a)) 0%,
                    transparent 90%
            );
    background-clip: content-box, border-box;
    padding: 24px;
    z-index: -1;
    border: inherit;
    animation: color 20s linear infinite both;
}